$primary: #232742;
$background-body: #36384D;
$text: #34343E;
$text-input: #B3B4B8;
$border-input: #D3D3D3;
$white: #FFFFFF;
$error-message: #E36F6F;
$error-text: #E28D90;
$background-error: #FFE8E6;
$btn-hover: #FF5476;
$btn-hover-two: #FF683F;